.suggestions-overlay-container {
  width: 100px;
  border: 1px solid #cccccc;
  position: absolute;
  background-color: #ffffff;
  border-radius: 4px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    li {
      padding: 4px 12px;
      font-size: 12px;
      border-bottom: 1px solid #cccccc;
      color: #000000;

      &.focused {
        background-color: #cccccc;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}